.DS_Store
.gitattributes
.gitignore
.gitmodules
CMakeLists.txt
PreLoad.cmake
README.md
revision.h.in.cmake
.git
build
!build/src/server/worldserver/worldserver_*
cmake
contrib
!contrib/deploy
dep
doc
sql
src
tools
