# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
#sources
*.C text
*.cc text
*.cxx text
*.cpp text
*.c++ text
*.hpp text
*.h text
*.h++ text
*.hh text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Whitespace rules
# strict (no trailing, no tabs)
*.c        whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.cc        whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.cxx        whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.cpp        whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.c++        whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol

*.h          whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.hpp          whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.hh          whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.h++          whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol

# normal (no trailing)
*.sql        whitespace=trailing-space,space-before-tab,cr-at-eol
*.txt        whitespace=trailing-space,space-before-tab,cr-at-eol

# special files which must ignore whitespace
*.patch      whitespace=-trailing-space

# Denote all files that are truly binary and should not be modified.
# Compiled Object files
*.slo binary
*.lo binary
*.o binary
*.obj binary

# Precompiled Headers
*.gch binary
*.pch binary

# Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary

# Compiled Static libraries
*.lai binary
*.la binary
*.a binary
*.lib binary

# Executables
*.exe binary
*.out binary
*.app binary